{% extends 'Skeleton.twig' %}

{% block content %}
  <div class="index-area">
    <h1>Toto je SlovakVegan </h1>
    <p class="lead">Informácie o vegánstve a životnom štýle.</p>
  </div>
<pre>
  
{% endblock %}
