
<div class="col-md-6">
  <div class="pmd-card pmd-z-depth">
    <div class="pmd-card-body">
      <div class="todolist not-done">
        <h1>Todos</h1>
        <form action="/admin/todolist/add" method="post">
          <input type="text" 
                 name="title" 
                 class="form-control add-todo" 
                 placeholder="Add todo">
          <br>
          <button class="btn btn-primary">Submit</button>
        </form>
        <hr>
        <ul class="list-group pmd-card-list pmd-list todo-lists">
          {% for item in todos %}
          <li class="list-group-item">
            <label class="pmd-checkbox 
                          checkbox-pmd-ripple-effect 
                          "
                    onclick="toggleMe({{ item.id }})">
              <input type="checkbox" {{ item.state > 0 ? 'checked' }}> 
              <span class="pmd-checkbox-label"></span>
              <span>{{ item.title }}</span>
            </label>
          
          </li>

          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<script>
var todoAjaxActive = false

function toggleMe (id)
{
  if (todoAjaxActive) {
    return false;
  }
  todoAjaxActive = true
  console.log(id)
  $.post('/admin/todolist/toggle', {
    id: id
  }).done(function (r) {
    console.log(r)
  }).fail(function (e) {
    console.log(e)
  })

  setTimeout(function () { // to avoid double click
     todoAjaxActive = false;
  }  
  , 100)

}
</script>