{% extends 'Skeleton.twig' %}

{% block content %}
  <div class="header">
    <h1>{{ post.title}} </h1>

    <p class="lead">{{ post.description }}</p>
    {% if post.image %}
      <img src="/public/uploads/{{ post.image }}" class="img-fluid" alt="">
    {% endif %}
  </div>

    <p>{{ post.content|raw }}</p>


{% endblock %}
