{% extends 'Base.twig' %}

{% block body %}
<!--content area start-->
<div id="content" class="content-area inner-post ">

  <!--tab start-->
  <div class="container-fluid full-width-container">
  
    <!-- Title -->
    <h1 class="section-title" id="services">
      <span>Manage Settings</span>
    </h1><!-- End Title -->
      
    <!--breadcrum start-->
    <ol class="breadcrumb text-left">
      <li class="active">Settings</li>
    </ol><!--breadcrum end-->
  
    {% include 'Settings/Form.twig' %}
 
  </div><!-- tab end -->

</div><!--end content area-->

<script id="customScript">
document.addEventListener('DOMContentLoaded', function () {
  runThisOnLoad()
})

function runThisOnLoad () {
  settings()
}
</script>

{% endblock %}