{% extends 'Base.twig' %}

{% block body %}
<!--content area start-->
<div id="content" class="content-area inner-post ">

  <!--tab start-->
  <div class="container-fluid full-width-container">
  
  <br>
    {% include 'Settings/Main.twig' %}

    {% include 'Settings/Plugins.twig' %}
 
  </div><!-- tab end -->

</div><!--end content area-->

<script id="customScript">
document.addEventListener('DOMContentLoaded', function () {
  runThisOnLoad()
})

function runThisOnLoad () {
  m4.settings()
}
</script>

{% endblock %}