
<!-- Sidebar Starts -->
<div class="pmd-sidebar-overlay"></div>

<!-- Left sidebar -->
<aside class="pmd-sidebar sidebar-default pmd-sidebar-slide-push pmd-sidebar-left pmd-sidebar-open bg-fill-darkblue sidebar-with-icons" role="navigation">
  <ul class="nav pmd-sidebar-nav">
    
    <!-- User info -->
    <li class="dropdown pmd-dropdown pmd-user-info visible-xs visible-md visible-sm visible-lg">
      <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" aria-expandedhref="javascript:void(0);">
        <div class="media-left">
          <img src="/app/admin/assets/external/images/user-icon.png" alt="New User">
        </div>
        <div class="media-body media-middle">Matej Vrzala</div>
        <div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/admin/users/logout">Logout</a></li>
      </ul>
    </li><!-- End user info -->
    
    <li> 
      <a class="pmd-ripple-effect" role="button" disabled onclick="router.go('/admin')"> 
        <i class="media-left media-middle material-icons">dashboard</i>
        <span class="media-body">Dashboard</span>
      </a> 
    </li>
    
   
    <li> 
      <a class="pmd-ripple-effect" role="button" onclick="router.go('/admin/pages')"> 
        <i class="media-left media-middle material-icons">
          tab
        </i> 
        <span class="media-body">Pages</span>
      </a> 
    </li>
   
    <li> 
      <a class="pmd-ripple-effect" role="button" onclick="router.go('/admin/categories')"> 
        <i class="media-left media-middle material-icons">
          folder
        </i> 
        <span class="media-body">Categories</span>
      </a> 
    </li>

    <li> 
      <a class="pmd-ripple-effect" role="button" onclick="router.go('/admin/posts')"> 
        <i class="media-left media-middle material-icons">
          subject
        </i> 
        <span class="media-body">Posts</span>
      </a> 
    </li>

    <li> 
      <a class="pmd-ripple-effect" role="button" onclick="router.go('/admin/media')"> 
        <i class="media-left media-middle material-icons">
          image
        </i> 
        <span class="media-body">Media</span>
      </a> 
    </li>


    <li> 
      <a class="pmd-ripple-effect" role="button" onclick="router.go('/admin/users')"> 
        <i class="media-left media-middle material-icons">
          accessibility
        </i> 
        <span class="media-body">Users</span>
      </a> 
    </li>

    <li> 
      <a class="pmd-ripple-effect" role="button" onclick="router.go('/admin/settings')"> 
        <i class="media-left media-middle material-icons">
          settings
        </i> 
        <span class="media-body">Settings</span>
      </a> 
    </li>

    {% for navItem in navItems %}
    <li> 
      <a class="pmd-ripple-effect" role="button" onclick="router.go('{{ navItem.link }}')"> 
        <i class="media-left media-middle material-icons">
          {{ navItem.icon }}
        </i> 
        <span class="media-body">{{ navItem.title }}</span>
      </a> 
    </li>
    {% endfor %}
    
  </ul>
</aside><!-- End Left sidebar -->
<!-- Sidebar Ends -->  
