<!doctype html>
<html lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Propeller Admin Dashboard">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">

<title>M4CMS Admin Dashboard</title>
<link rel="shortcut icon" type="image/x-icon" href="themes/images/favicon.ico">

<!-- Google icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Bootstrap css -->
<link rel="stylesheet" type="text/css" href="/app/admin/assets/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/app/admin/assets/css/propeller.min.css">
<!-- /build -->

<!-- Propeller date time picker css
<link rel="stylesheet" type="text/css" href="components/datetimepicker/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="components/datetimepicker/css/pmd-datetimepicker.css" />
-->

<!-- Propeller theme css-->
<link rel="stylesheet" type="text/css" href="/app/admin/assets/css/propeller-theme.css" />

<!-- Propeller admin theme css-->
<link rel="stylesheet" type="text/css" href="/app/admin/assets/css/propeller-admin.css">

<link href="//cdn.quilljs.com/1.3.1/quill.snow.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">


{% block head %}{% endblock %}
{% block css %}{% endblock %}
<style>
  .ql-editor {
    min-height: 300px;
  }
  .statistics-content i {
    color: white;
    margin: 20%;
  }

  .statistics-content .statistics i {
    color: #3cad44;
    font-size: 2rem;
    margin: 20% 0;
  }
</style>

</head>

<body>

{% include 'navbar.twig' %}
{% include 'aside.twig' %}

{% block body %} {% endblock %}

{% block script %}{% endblock %}

</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/app/admin/assets/js/bootstrap.min.js"></script>
<script src="/app/admin/assets/js/propeller.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
<script src="//cdn.quilljs.com/1.3.1/quill.min.js"></script>