{% include 'Top.twig' %}

<body>

{% include 'Navbar.twig' %}
{% include 'Aside.twig' %}

<div id="app" class="pmd-content">
  {% block body %} {% endblock %}
</div>

{% block script %}{% endblock %}

</body>

</html>
