{% include 'top.twig' %}

<body>

{% include 'navbar.twig' %}
{% include 'aside.twig' %}

<div id="app" class="pmd-content">
  {% block body %} {% endblock %}
</div>

{% block script %}{% endblock %}

</body>

</html>
