{% extends 'Base.twig' %}

{% block body %}

  <div class="section no-pad-bot" id="index-banner">
     <div class="container">
       <br><br>
       <h1 class="header center orange-text">Welcome to {{ settings.title }}</h1>
       <div class="row center">
         <h5 class="header col s12 light">{{ settings.description }}</h5>
       </div>
       <div class="row center">
         <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Download</a>
       </div>
       <br><br>

     </div>
   </div>


   <div class="container">
     <div class="section">

       <!--   Icon Section   -->
       <div class="row">
         <div class="col s12 m4">
           <div class="icon-block">
             <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
             <h5 class="center">Modern</h5>

             <p class="light">Application is written in PHP language 7.0 which is recent version of the most popular language on the web. Administration is running on VueJS JavaScript Framework and for UI we are using Quasar.</p>
           </div>
         </div>

         <div class="col s12 m4">
           <div class="icon-block">
             <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
             <h5 class="center">Extendable</h5>

             <p class="light">I'll need to figure out how to create extension and then it will be definitely extendable.</p>
           </div>
         </div>

         <div class="col s12 m4">
           <div class="icon-block">
             <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
             <h5 class="center">Stylable</h5>

             <p class="light">Default template is taking advantage of Materialize CSS Framework, but you can create custom template with knowledge of HTML & CSS. </p>
           </div>
         </div>
       </div>

     </div>
     <br><br>
   </div>


{% endblock %}