::-moz-selection {
  background: #3498db;
  color: #fff; }

::selection {
  background: #3498db;
  color: #fff; }

body {
  background-color: #4CAF50;
  font-family: "Open Sans", Georgia, Cambria, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.container {
  flex: 1; }

.row {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 5rem 2px 2rem 2px;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  color: #4CAF50;
  margin-bottom: 1.2rem;
  margin-top: 1.8rem; }

.content {
  margin: 2rem; }
  .content .card {
    max-width: 400px; }
  .content p {
    font-weight: 400;
    line-height: 158%;
    letter-spacing: 0.003px;
    font-size: 21px;
    margin-bottom: 0;
    font-family: Cambria; }
  .content blockquote {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-left: 0.25rem solid #eceeef;
    margin: 2rem 0; }
  .content a {
    color: #C8E6C9;
    text-decoration: none; }
    .content a:hover, .content a:visited, .content a:active {
      color: #388E3C; }

@media (max-width: 62rem) {
  .container {
    padding: 0;
    width: 100%; }

  .row {
    margin: 5rem 0 0 0; }

  .content {
    padding: 0 1rem; } }
/*  Thumbnails */
.article-list-thumbnails {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  padding: 0;
  margin-bottom: 20px; }

.article-list-thumbnails li {
  display: inline-block;
  position: relative;
  max-width: 317px;
  width: 100%;
  height: 225px;
  margin: 11px;
  background-size: cover; }

.article-list-thumbnails li h2 {
  position: absolute;
  box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #262726;
  color: #151515;
  font: bold 16px sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  left: 25px;
  top: 170px;
  padding: 5px 10px;
  max-width: 80%;
  margin: 0; }

.article-list-thumbnails li h2 a {
  color: #fff !important;
  text-decoration: none; }

/* responsive thumbnails */
@media (max-width: 400px) {
  .article-list-thumbnails li {
    margin: 0 0 20px 0; }

  .article-list-thumbnails li img {
    width: 280px;
    height: 200px; }

  .article-list-thumbnails li a {
    left: 15px;
    top: 160px;
    padding: 5px 10px;
    width: 210px; } }
.navbar-up {
  top: -50px; }

nav {
  transition: top 0.2s ease-in-out;
  position: fixed;
  background-color: #262726;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  nav a {
    color: #fff; }
  nav .nav-link {
    padding: 0 1.5rem; }
  nav .navbar-brand {
    padding: 3px 20px; }
  nav .nav-link:hover, nav .navbar-brand:hover, nav .nav-link.is-active {
    color: #4CAF50; }

@media (max-width: 62rem) {
  .navbar-brand {
    position: absolute;
    top: 10px;
    left: 40%; } }
footer {
  width: 100%;
  height: auto;
  display: flex; }
  footer .copyright {
    min-height: 45px;
    background-color: #262726;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px; }

.index-area {
  padding: 3rem 1rem;
  padding-bottom: 0;
  text-align: center; }

.header {
  padding: 1rem 1.5rem;
  text-align: center; }

.header-image {
  padding: 20px 0; }

/*# sourceMappingURL=style.css.map */
