      <div class="group-fields clearfix row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group pmd-textfield">
            <label class="control-label"  style="transform: none; -webkit-transform: none; -ms-transform: none; margin-bottom: 12px;">Content</label>
            <div id="editor"></div>
          </div>
        </div>
      </div>