<div tabindex="-1" class="modal fade" id="delete-dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"> Are you sure? This action is irreversible </div>
      <div class="pmd-modal-action text-right">
        <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary pmd-btn-flat" data-action="delete" type="button">Yes, Delete</button>
        <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-default pmd-btn-flat" data-action="cancel" type="button">No, Leave</button>
      </div>
    </div>
  </div>
</div>