<!--Statistics-->
<div class="col-xs-12 col-sm-12 col-md-6">
<div class="pmd-card pmd-z-depth statistics-content">      
  <div class="pmd-card-title">
    <div class="media-left set-svg">
      <span class="service-icon img-circle bg-fill-green">
        <i class="material-icons">timeline</i>
      </span>
    </div>
    <div class="media-body media-middle">
      <h2 class="pmd-card-title-text typo-fill-secondary">Statistics</h2>
    </div>
  </div>
  <div class="pmd-card-body statistics text-center">
    <ul class="list-group list-inline">
      <li>
        <div class="statistic-img-circle">
          <i class="material-icons">tab</i>
        </div>
        <div class="pmd-display2">{{ numberOfPages }}</div>
        <div class="source-semibold typo-fill-secondary">Pages</div>
      </li>
      <li>
        <div class="statistic-img-circle">
          <i class="material-icons">folder</i>
        </div>
        <div class="pmd-display2">{{ numberOfCategories }}</div>
        <div class="source-semibold typo-fill-secondary">Categories</div>
      </li>
      <li>
        <div class="statistic-img-circle">
          <i class="material-icons">subject</i>
        </div>
        <div class="pmd-display2">{{ numberOfPosts }}</div>
        <div class="source-semibold typo-fill-secondary">Posts</div>
      </li>
      <li>
        <div class="statistic-img-circle">
          <i class="material-icons">accessibility</i>
        </div>
        <div class="pmd-display2">{{ numberOfUsers }}</div>
        <div class="source-semibold typo-fill-secondary">Users</div>
      </li>
      <li>
        <div class="statistic-img-circle">
          <i class="material-icons">image</i>
        </div>
        <div class="pmd-display2">10</div>
        <div class="source-semibold typo-fill-secondary">Images</div>
      </li>
      <li>
        <div class="statistic-img-circle">
          <i class="material-icons">image</i>
        </div>
        <div class="pmd-display2">10</div>
        <div class="source-semibold typo-fill-secondary">Images</div>
      </li>


    </ul>
  </div>
  <span class="btn-loader loader hidden">Loading...</span>
</div>
</div><!-- end statistics-->
