<div class="section billinfo"> 
  <!-- section content start-->
  <form id="validationForm" action="" method="post">
  <div class="pmd-card pmd-z-depth">
    <!-- card body start -->
    <div class="pmd-card-body">
      <div class="group-fields clearfix row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group pmd-textfield">
            <label for="title" class="control-label">
              Title*
            </label>
            <input type="text" id="title" name="title" class="form-control" value="{{ page.title }}">
          </div>
        </div>
      </div>

      <div class="group-fields clearfix row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group pmd-textfield">
            <label class="control-label">Description</label>
            <textarea required class="form-control" name="description">{{ page.description }}</textarea>
          </div>
        </div>
      </div>

      <div class="group-fields clearfix row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group pmd-textfield">
            <label class="control-label"  style="transform: none; -webkit-transform: none; -ms-transform: none; margin-bottom: 12px;">Content</label>
            <div id="editor"></div>
          </div>
        </div>
      </div>

      {% include 'modules/image/Modal.twig' %}

      <button data-target="#ImageSelector" onclick="selectHeaderImage()" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Select Header Image</button>

      <div id="headerImage">

        {% set img = 2 %}

        <img src="/public/uploads/{{ page.image}}" class="img-responsive" alt="">
        <input type="hidden" value="" name="headerImage">
      </div>


      <div class="group-fields clearfix row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="checkbox pmd-default-theme">
            <label class="pmd-checkbox checkbox-pmd-ripple-effect">
              <input type="checkbox" name="is_published" value="" {{ page.is_published ? 'checked' : '' }}>
              <span>Publish</span>
            </label>
          </div>
        </div>
      </div>

    </div>   <!-- card body end -->    
    <div class="pmd-card-actions">
      <a href="javascript:void(0);" class="btn btn-primary nex submit">Submit</a>
      <a href="javascript:void(0);" class="btn btn-default">Cancel</a>
    </div>
  </div> <!-- section content end -->  
  </form>
</div>

<script>
  function selectHeaderImage () {
    imageSelector.modal(function (data) {
      document.querySelector('#headerImage img').src = '/public/uploads/' + data.filename
      document.querySelector('#headerImage input').value = data.id
      toastr.success(data.message)
    })
  }
</script>

