{% include 'Base.twig' %}


{% block body %}
<!--content area start-->
<div id="content" class="pmd-content inner-page">

  <!--tab start-->
  <div class="container-fluid full-width-container">
  
    <!-- Title -->
    <h1 class="section-title" id="services">
      <span>Update Page</span>
    </h1><!-- End Title -->
      
    <!--breadcrum start-->
    <ol class="breadcrumb text-left">
      <li><a href="/admin/pages">Pages</a></li>
      <li class="active">Update</li>
    </ol><!--breadcrum end-->
  
    {% include 'Pages/Form.twig' %}
 
      
  </div><!-- tab end -->
  
</div><!-- content area end -->


{% endblock %}

{% block script %}
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });

  quill.clipboard.dangerouslyPasteHTML(0, '{{ page.content|raw }}');

  $(".fileUploadBrowseButton").click(function () {
    $(".file").click()
  })

  $(".file").change(function () {
    var val = $(this).val().replace(/C:\\fakepath\\/i,'');
    $(".filename").val(val);
  })

  $("form .submit").click(function () {
    formData = {
      id: '{{ page.id }}',
      title: $("input[name=title]").val(),
      description: $("textarea[name=description").val(),
      content: quill.root.innerHTML,
      image: 2,
      is_published: $("input[name=is_published]").is(':checked')
    }
    console.log(formData)
    $.ajax({
      type: 'post',
      url: '/admin/pages/updateAjax',
      data: formData
    }).done(function (response) {
      console.log(response)
      toastr.success(response.message)
    }).fail(function (xhr, err) {
      console.log(err)
      console.log(xhr.responseJSON)
      toastr.error(xhr.responseJSON.message)
    })
  })



</script>
{% endblock %}