{% extends 'admin/base.twig' %}


{% block title %}Settings {% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item active">Settings</li>
{% endblock %}

{% block content %}

<p>Page Name</p>

<p>Page short description / slogan</p>

<p>Page Url</p>

<p>Page SEO tags</p>

<p>Page Logo</p>

<p>Favicon</p>

<p>Page under construction</p>

{% endblock %}

{% block scripts %}

{% endblock %}
