 <footer class="page-footer secondary">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">M4CMS is open source content managment system for the web.</p>


        </div>


      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="text-lighten-3" href="">M4</a>
      </div>
    </div>
  </footer>

