{% extends 'Base.twig' %}

{% block body %}
<!--content area start-->
<div id="content" class="inner-page">

  <!--tab start-->
  <div class="container-fluid full-width-container">
  
    <!-- Title -->
    <h1 class="section-title" id="services">
      <span>Update Category</span>
    </h1><!-- End Title -->
      
    <!--breadcrum start-->
    <ol class="breadcrumb text-left">
      <li><a href="/admin/category">Category</a></li>
      <li class="active">Update</li>
    </ol><!--breadcrum end-->
  
    {% embed 'Categories/Form.twig' %}
      {% block formButtons %}
        <a href="javascript:void(0);" class="btn btn-danger delete">Delete</a>
      {% endblock %}
    {% endembed %}
 
  </div><!-- tab end -->
  
</div><!-- content area end -->

{% endblock %}

{% block script %}
<script id="customScript">

document.addEventListener('DOMContentLoaded', function () {
    runThisOnLoad()
})

function runThisOnLoad () {
  category('updateAjax');

  document.querySelector("a.delete").addEventListener('click', function () {
    $("#delete-dialog").modal('show')
    document.querySelector('#delete-dialog button[data-action=delete]').addEventListener('click', function () {
      $.ajax({
        type: 'POST',
        url: '/admin/categories/delete',
        data: {
          id: {{ category.id }}
        }
      }).done(function (r) {
        console.log(r)
        router.go('/admin/categories')
      }).fail(function (err) {
        console.log('error')
        console.log(err)
      })
    })
    document.querySelector('#delete-dialog button[data-action=cancel]').addEventListener('click', function () {
      $("#delete-dialog").modal('hide')
    })
  })

}

</script>
{% endblock %}