{% extends 'admin/base.twig' %}


{% block title %}Show all users {% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item active">Users</li>
{% endblock %}

{% block content %}


{% endblock %}

{% block scripts %}

{% endblock %}
