{% extends 'admin/base.twig' %}


{% block title %}My Profile {% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/admin{{ url.USERS }}">Users</a></li>
<li class="breadcrumb-item active">Profile</li>
{% endblock %}

{% block content %}


{% endblock %}

{% block scripts %}

{% endblock %}
