<div tabindex="-1" class="modal fade" id="ImageSelector" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="pmd-card-title-text">Select an Image</h2>
      </div>
      <div class="modal-body">
        {% include 'modules/image/Tabs.twig' %}
      </div>
      <div class="pmd-modal-action pmd-modal-bordered text-right">
        <button data-dismiss="modal" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Close</button>
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default btn-select">Select</button>
      </div>
    </div>
  </div>
</div>

