<div tabindex="-1" class="modal fade" id="ImageSelector" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="pmd-card-title-text">Select an Image</h2>
      </div>
      <div class="modal-body">
        {% include 'modules/image/Tabs.twig' %}
      </div>
      <div class="pmd-modal-action pmd-modal-bordered text-right">
        <button data-dismiss="modal" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Close</button>
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default btn-select">Select</button>
      </div>
    </div>
  </div>
</div>

<script>  


var imageSelector = {
  modal: function (callback) {

    $("#ImageSelector").modal('show');

    $("#ImageSelector button.btn-select").click(function (e) {
      e.preventDefault()
     
      if (activeTab === 1) {
        imageSelector.upload(function (data) {
          callback(data)
        })

      }

      else if (activeTab === 2) {
          imageSelector.link()
      }

      else if (activeTab === 3) {
          imageSelector.gallery()
      }

      $(this).unbind('click')
      $("#ImageSelector").modal('hide');

    })

  },
  upload: function (callback) {
    //  var imgForm = document.getElementById('imgForm');
      formData = new FormData();
      formData.append('file', document.getElementById('imgForm').files[0]);

      $.ajax({
          type: 'POST',
          url: '/admin/media/create',
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          success:function(data){
              console.log("success");
              console.log(data);
             // console.log('/public/uploads/' + data.filename)
              callback(data)
             // return data.filename
          },
          error: function(data){
              console.log("error");
              console.log(data);
          }
      });
  },
  link: function () {

  },
  gallery: function () {

  }
}

</script>