<!--Tabs Card wrapper -->
<div class="pmd-card pmd-z-depth"> 

  <!-- Tab links -->
  <div class="pmd-tabs pmd-tabs-bg">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#upload" aria-controls="upload" data-id="1" role="tab" data-toggle="tab">
          Upload
        </a>
      </li>
      <li role="presentation">
        <a href="#link" aria-controls="link" data-id="2" role="tab" data-toggle="tab">
          Link
        </a>
      </li>
      <li role="presentation">
        <a href="#mediaSelect" onclick="loadMedia()" aria-controls="mediaSelect" data-id="3" role="tab" data-toggle="tab">
          Select
        </a>
      </li>
      <li role="presentation">
        <a href="#uploadGallery" aria-controls="link" data-id="4" role="tab" data-toggle="tab">
          Upload Gallery
        </a>
      </li>
    </ul>
  </div>

  <div class="pmd-card-body">
    <div class="tab-content"> 
      <!-- Upload image tab #1 Start -->
      <div role="tabpanel" class="tab-pane active" id="upload">
          <div class="form-group">

                <input type="file" name="img" id="imgForm" class="file" style="display: none">
                <input type="text" class="filename mat-input form-control" style="display: inline-block; width: auto" disabled placeholder="Upload Image">
                <button type="button" 
                        onclick="$('.file').click()" 
                        class="btn btn-info fileUploadBrowseButton">
                  Browse
                </button>
          </div>
      </div><!-- Upload image tab #1 End -->

      <!-- Image from link #2 Start -->
      <div role="tabpanel" class="tab-pane" id="link">
        <input type="text" name="link">
      </div>
      <!-- Image from link #2 End -->

      <!-- Select from media #3 Start -->
      <div role="tabpanel" class="tab-pane" id="mediaSelect">
        <img src="/app/admin/assets/m4/img/loader.svg" class="loader">
      </div>
      <!-- Select from media #3 End -->

      <!-- Upload Gallery #4 Start -->
      <div role="tabpanel" class="tab-pane" id="uploadGallery">
        hello
      </div>
      <!-- Upload Gallery #4 Start -->

    </div> <!-- tab content -->
  </div> <!-- card body -->
</div> <!-- card wrapper --> 


