<!--Tabs Card wrapper -->
<div class="pmd-card pmd-z-depth"> 

  <!-- Tab links -->
  <div class="pmd-tabs pmd-tabs-bg">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#uploadFile" aria-controls="upload" data-id="1" role="tab" data-toggle="tab">
          Upload
        </a>
      </li>
      <li role="presentation">
        <a href="#link" aria-controls="link" data-id="2" role="tab" data-toggle="tab">
          Link
        </a>
      </li>
      <li role="presentation">
        <a href="#mediaSelect" onclick="m4.imageSelector.loadMedia()" aria-controls="mediaSelect" data-id="3" role="tab" data-toggle="tab">
          Select
        </a>
      </li>
      <li role="presentation" 
          id="uploadGalleryLink" 
          style="display: none">
        <a href="#uploadGallery" aria-controls="link" data-id="4" role="tab" data-toggle="tab">
          Upload Gallery
        </a>
      </li>
    </ul>
  </div>

  <div class="pmd-card-body">
    <div class="tab-content"> 
      <!-- Upload image tab #1 Start -->
      <div role="tabpanel" 
           class="tab-pane active" 
           id="uploadFile">
          <div class="form-group">
                <input type="file" 
                       name="img" 
                       id="imgInput" 
                       class="uploadInput" 
                       style="display: none">
                <input type="text" 
                       class="filename mat-input form-control" 
                       style="display: inline-block; width: auto" 
                       disabled 
                       placeholder="Upload Image">
                <button type="button" 
                        onclick="$('.uploadInput').click()" 
                        class="btn btn-info fileUploadBrowseButton">
                  Browse
                </button>
          </div>
      </div><!-- Upload image tab #1 End -->

      <!-- Image from link #2 Start -->
      <div role="tabpanel" class="tab-pane" id="link">
        <input type="text" name="link">
      </div>
      <!-- Image from link #2 End -->

      <!-- Select from media #3 Start -->
      <div role="tabpanel" class="tab-pane" id="mediaSelect">
        <img src="/app/admin/assets/m4/img/loader.svg" class="loader">
      </div>
      <!-- Select from media #3 End -->

      <!-- Upload Gallery #4 Start -->
      <div role="tabpanel" class="tab-pane" id="uploadGallery">
        <div class="form-group">
          <label class="label-control">
            Gallery Title
          </label>
          <input type="text" 
                 class="form-control" 
                 name="galleryTitle"
                 placeholder="Gallery Title">
        </div>
        <div class="form-group">
          <label class="label-control">
            Select Images
          </label>
          <input type="file" 
                 name="gallery[]" 
                 id="galleryInput"
                 class="galleryInput" 
                 style="display: none"
                 multiple="multiple">
          <input type="text" 
                 class="filenames form-control"
                 disabled="disabled"
                 placeholder="Upload Images">
        </div>
        <button type="button"
                onclick="$('.galleryInput').click()"
                class="btn btn-info ">
          Browse
        </button>
      </div>
      <!-- Upload Gallery #4 Start -->

    </div> <!-- tab content -->
  </div> <!-- card body -->
</div> <!-- card wrapper --> 


<script>
  $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
    m4.data.activeTab = $(e.target).data('id')
  }) // store activeTab value

  $('#ImageSelector').on('hidden.bs.modal', function () {
    $('#uploadGalleryLink').hide() // hide gallery tab 
    $('#ImageSelector a[href="#uploadFile"]').tab('show') // make first tab active
  }) // modal before close

  $(document).on('change','.uploadInput', function () {
    console.log('file selected ')
    var val = $(this).val().replace(/C:\\fakepath\\/i,'');
    $("#uploadFile .filename").val(val);
  })

  $(document).on('change','.galleryInput', function () {
    console.log('files selected ')
    var val = $(this).val().replace(/C:\\fakepath\\/i,'');
    $("#uploadGallery .filenames").val(val);
  })
</script>