<!--Default tab example -->
<div class="pmd-card pmd-z-depth"> 
  <div class="pmd-tabs pmd-tabs-bg">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#home" aria-controls="home" data-id="1" role="tab" data-toggle="tab">
          Upload
        </a>
      </li>
      <li role="presentation">
        <a href="#about" aria-controls="about" data-id="2" role="tab" data-toggle="tab">
          Link
        </a>
      </li>
      <li role="presentation">
        <a href="#work" aria-controls="work" data-id="3" role="tab" data-toggle="tab">
          Gallery
        </a>
      </li>
    </ul>
  </div>
  <div class="pmd-card-body">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
          <div class="form-group">

                <input type="file" name="img" id="imgForm" class="file" style="display: none">
                <input type="text" class="filename mat-input form-control" style="display: inline-block; width: auto" disabled placeholder="Upload Image">
                <button type="button" class="btn btn-info fileUploadBrowseButton">Browse</button>
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="about">

      </div>
      <div role="tabpanel" class="tab-pane" id="work">

      </div>
    </div>
  </div>
</div> <!--Default tab example end-->

