
<!-- Edit Categoty Modal -->
<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit a Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/categories/editAjax" method="post" id="editCategory" enctype="multipart/form-data">
          <fieldset class="form-group">
            <label for="eTitle">Title</label>
            <input type="text" class="form-control" id="eTitle" name="title" required>
          </fieldset>

          <fieldset class="form-group">
            <label for="eDescription">Description</label>
            <textarea class="form-control" id="eDescription" name="description" rows="3"></textarea>
          </fieldset>
          <div class="row">
             <div class="col-6">
               <fieldset class="form-group">
                 <label for="eImage">Main image</label>
                 <input type="file" class="form-control-file" name="image" id="eImage">
               </fieldset>
             </div>
             <div class="col-6" id="currentCategoryImage">

             </div>
          </div>
          <div class="form-group">
            <label for="edit_page_id">Select Page</label>
            <select class="form-control" id="page_id" name="page_id">
              {% for page in pages %}
              <option  value="{{ page.id }}">{{ page.title }}</option>
              {% endfor %}
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      </div>
    </div>
  </div>
</div>
