{% extends 'Base.twig' %}

{% block body %}
<!--content area start-->
<div id="content" class="pmd-content content-area dashboard">

  <div class="container-fluid">
    <div class="row" id="card-masonry">
     
 
    {% include 'Home/modules/statistics.twig' %}
     
    
  </div>
    
</div>

</div><!--end content area-->

{% endblock %}